<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="St1" class="org.example.Student" autowire="constructor">
<!--        <constructor-arg index="0" ref="pen"/>-->
    </bean>
    <bean id="St2" class="org.example.Student">
    </bean>
    <bean id="pen" class="org.example.Pen">
    </bean>
    <bean id="penc" class="org.example.Pencil" primary="true">
    </bean>
    <bean id="sketch" class="org.example.Sketch">
    </bean>

    <!--<bean id="T1" class="org.example.Teacher">
    </bean>
    -->

</beans>